
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ganga Justice</title>
<link rel="stylesheet" href="../static/hack.css">
</head>
<body>
    <nav  class="header" >
            
        <p> <a href="../templates/about.html"> What is restoritive Justice?</a></p>

      <p> <a href="../templates/brands.html"> Cannabis Brands that Support Restoritive Jusice</a></p>
       <p> <a href="https://twitter.com/cobaltcalcium?lang=en">How to get involved</a></p>
       <p> <a href="https://www.coheedandcambria.com/tour">#AmplifyMelanatedVoices </a></p>
       <p> <a href="../templates/index.html">Home </a></p>

             
       
 </nav>
 <div class="banner">
  <h1 class="titles">What is Restorative Justice?</h1>
  <p>Restorative Justice is a theory that fcouses on rehabilitation and mending instead of punishing people. Research shows that BIPOC are more likely
      to recieve a minimum sentence for drug crimes than white people. Approximately 80 percent of people are in prision for drug related crimes and of that, 
      60 percent are BIPOC. It is clear that drug laws are unjust and have been used to target BIPOC. This has been going on since the 1980s with the "war on drugs" that has done
      nothing but stigmatized drug use, destroyed communities, and broken families apart. Now that many states are moving to 
      decriminalize certain drug offenses and it is vital that we demand justice. </p>

    <p id="learn-more"> To learn more about what restorative justice is, click on any of the links below:</p>
    <p><a href="https://youtu.be/HSozqaVcOU8"> What is the Drug War? -Jay Z and Molly Crabapple</a></p>

    <p><a href="https://www.elle.com/culture/career-politics/a35877859/legalizing-cannabis-industry-restorative-justice/">
        Creating An Equitable Cannabis Industry Starts With Restorative Justice -Leah Thomas </a></p>
        
    <p> <a href="https://www.brookings.edu/blog/fixgov/2021/02/24/merrick-garland-cannabis-policy-and-restorative-justice/">
        "Merrick Garland, cannabis policy, and restorative justice" -John Hudak </a></p>
        <p> <a href="https://www.eriereader.com/article/restorative-justice-and-cannabis">
            "Restorative Justice and Cannabis" -Chloe Forbes</a></p>
