<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ganga Justice</title>
    <link rel="stylesheet" href="../static/hack.css">
</head>

<body>

    <nav class="header">

        <p> <a href="../templates/about.html"> What is restoritive Justice?</a></p>

        <p> <a href="../templates/brands.html"> Cannabis Brands that Support Restoritive
                Jusice</a></p>
        <p> <a href="https://twitter.com/cobaltcalcium?lang=en">How to get involved</a></p>
        <p> <a href="https://www.coheedandcambria.com/tour">#AmplifyMelanatedVoices </a></p>
        <p> <a href="../templates/index.html">Home </a></p>



    </nav>
    <div class="banner">
        <h1 class="titles">Brands that Support Restorative Justice</h1>
        <p> <a href="https://www.lastprisonerproject.org/">
                Last Prisioner Project </a> Project founded in 2019 dedicated to "freeing every last prisoner of the
            unjust war on drugs,
            starting with the estimated 40,000 individuals imprisioned for cannabis"</p>
        <p> <a href="https://broccolimag.com/floret">The Floret Coalition </a> "An anti-ractist collective of small businesses in the cannabis
        and cannabis-adjacent space supporting and funding equity-oriented actions via monthly donations and social campaigns"</p>
        <p> <a href="https://www.smokeladyjays.com/"> Lady Jays</a> A cannabis line out of Portland that donates all proceeds from various pre-roll packs to
        the Last Prisioner Project</p>
        <p> <a href="https://www.leune.co/"> Leune</a> A California based women of color owned business that created Leune Lab to showcase
        creative work that has donated all proceeds from face maks to the Last Prisioner Project</p>
        <p> <a href="https://www.gtigrows.com/">Green Thumb Industries</a> A cannabis brand committed "to a future where those who have suffered criminally 
            as a result of cannabis and systemic racism are not only expunged of those ‘crimes’ but also welcomed into the cannabis community." </p>
       
        <p> <a href="https://www.leafly.com/">Leafly</a> A site dedicated to aide in the discovery of cannabis products. Lafly is "on a mission to strengthen our industry through equity, 
            and unlock economic empowerment for those trapped by outdated policy. We will lead with, and be led by, justice for all.</p>