
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ganga Justice</title>
<link rel="stylesheet" href="../static/hack.css">
</head>
<body>
  
        <nav  class="header" >
            
               <p> <a href="../templates/about.html"> What is restoritive Justice?</a></p>
  
             <p> <a href="../templates/brands.html"> Cannabis Brands that Support Restoritive Jusice</a></p>
              <p> <a href="https://twitter.com/cobaltcalcium?lang=en">How to get involved</a></p>
              <p> <a href="https://www.coheedandcambria.com/tour">#AmplifyMelanatedVoices </a></p>
              <p> <a href="../templates/index.html">Home </a></p>

                    
              
        </nav>
        <div class="banner">
            <h1>Ganga Justice</h1>
        </div>
   
        <div class="welcome">
            <p>Welcome to Ganga Justice, a site dedicated to social equity in the cannabis industry</p>
            <img class="img" src="../static/scale.jpeg" alt="scale with 1 cannabis leaf on each side">
           
        

        <footer>
            <div class="content">
                <p>This website make by Tasha Davis</p>
            </div>
        </footer>
</body>
</html>
